.tabs {
    display: flex;
    flex-direction: column;
    .tabs-title {
        display: flex;
        height: 50px;
    }
    &-bottom {
        flex-direction: column-reverse;
        .tabs-cont {
            height: calc(100vh - 50px);
            overflow: hidden;
            &>div {
                overflow: auto;
            }
        }
    }
}